/*******************************************************************************
 * APP.COMPONENT.LESS
 ******************************************************************************/

/*** GLOBAL VARIABLES *********************************************************/

@mobile: ~"screen and (max-width: 900px)";
@tablet: ~"screen and (min-width: 900px) and (max-width: 1200px)";
@desktop: ~"screen and (min-width: 1200px)";
@primary: #212429;

/*** GLOBAL CLASSES ***********************************************************/

.error {
  color: red;
}

.success {
  color: lightgreen;
}

.directory {
  color: yellow;
}

.file {
  color: lightgray;
}

/*** MIXINS *******************************************************************/

.input() {
    width: auto;
    background-color: #212429;
    color: white;
    border: 1px solid lightgray;
    padding: 2px;
    &:focus {
      outline: none;
      border: 2px solid lightgray;
      padding: 1px;
  }
}

/*** MAIN SCOPED CSS **********************************************************/

.main {
  min-height: 100vh;
  width: 100%;
  @media @desktop {
    min-width: 1200px;
  }
  @media @tablet {
    min-width: 900px;
  }
  @media @mobile {
    min-width: 400px;
  }
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .info-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1.4px solid lightgreen;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px;
    gap: 10px;
    .row {
      display: flex;
      justify-content: space-between;
      @media @mobile {
        flex-direction: column;
        justify-content: center;
      }
      flex-wrap: wrap;
      width: 100%;
      .input-container {
        display: flex;
        align-items: center;
        width: auto;
      }
      input {
        .input();
        color: yellow;
        margin-left: 5px;
        margin-right: 5px;
      }
      .other {
        display: flex;
        gap: 10px;
        width: auto;
        @media @mobile {
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
        }
      }
      .bar {
        display: flex;
        gap: 20px;
        width: auto;
        .home-button {
          color: yellow;
          &:hover {
            transform: scale(1.2);
            transition: 0.1s;
            cursor: pointer;
          }
        }
        .button {
          color: white;
          &:hover {
            color: yellow;
            transform: scale(1.2);
            transition: 0.1s;
            cursor: pointer;
          }
        }
      }
    }
  }
  .table-container {
    width: 100%;
    max-height: 75vh;
    padding: 2px;
    border: 1.4px solid white;
    border-radius: 5px;
    overflow-y: scroll;
    thead tr th {
      position: sticky;
      top: 0%;
    }
    table tbody tr {
      cursor: pointer;
    }
    table {
      width: 100%;
      .optional {
        @media @mobile {
          display: none;
        }
      }
      .mobile {
        @media @desktop {
        display: none;
        }
        @media @tablet {
          display: none;
        }
      }
    }
  }
}

/*** EOF **&*******************************************************************/