<div class="main">
  <!--Forms and Info-->
  <div class="info-container">
    <div class="bar">
      <fa-icon class="home-button" (click)="setHome()" [icon]="faHouse"></fa-icon>
      <fa-icon class="button" (click)="upDirectory()" [icon]="faUpLong"></fa-icon>
      <fa-icon class="button" (click)="goBack()" [icon]="faArrowLeft"></fa-icon>
      <fa-icon class="button" (click)="goForward()" [icon]="faArrowRight"></fa-icon>
    </div>
    <div class="other">
      <div>Current Directory: <span style="color: yellow">{{directory}}</span></div>
      <div>API Status: 
        <span [ngClass]="{'success': status === 'online', 'error': status !== 'online' }">
          {{ status.toUpperCase() }}
        </span>
      </div>
    </div>
  </div>
  <!--Table-->
  <div class="table-container">
    <table class="table table-striped table-dark table-hover table-responsive">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">File Name</th>
          <th scope="col">File Date</th>
          <th scope="col">File Perms</th>
          <th scope="col">File Type</th>
          <th scope="col">File Size</th>
          <th scope="col">File Path</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of files" (click)="seek(file)">
          <td>
            <fa-icon style="color: yellow" [icon]="getIcon(file)"></fa-icon>
          </td>
          <th scope="row">{{ file.fileName }}</th>
          <td>{{ file.dateCreated | date }}</td>
          <td>{{ file.permissions }}</td>
          <td>{{ file.fileType.commonType }}</td>
          <td>{{ file.size | number }} KB</td>
          <td>{{ file.fullPath }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
