@mobile: ~"screen and (max-width: 900px)";
@tablet: ~"screen and (min-width: 900px) and (max-width: 1200px)";
@desktop: ~"screen and (min-width: 1200px)";

.main {
  min-height: 100vh;
  width: 100%;
  background-color: lightsteelblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  table {
    overflow: scroll;
    @media @mobile {
      width: 100%;
    }
    @media @tablet {
      width: 90%;
    }
    @media @desktop {
      width: 80%;
    }
    min-width: 1000px;
  }
}
